* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #727274;
  --form-bg-color: #a5a5a7;
  --text1-color: #4d0000;
  --btn-color: #800000;
}

body {
  background-color: var(--body-bg-color);
}

img {
  width: 150px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
