* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #727274;
  --form-bg-color: #a5a5a7;
  --text1-color: #4d0000;
  --btn-color: #800000;
}

body {
  background-color: var(--body-bg-color);
}

img {
  width: 250px;
}

h1 {
  color: var(--text1-color);
  font-size: 30px;
}

p {
  margin-top: 30px;
}

.card {
  height: 350px;
  margin-top: 100px;
  background-color: var(--form-bg-color);
  width: 75%;
  margin-left: 15%;
}

.row {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.btn {
  background-color: var(--btn-color);
  border: none;
  width: 120px;
  transition: all .4s ease-in-out;
}

.btn:hover {
  background: var(--text1-color);
}

.nav-link {
  color: #FFFFFF;
  font-size: 19px;
  transition: all .4s ease-in-out;
}

.nav-link:hover {
  color: #FFFFFF;
}

.nav-item {
  background-color: var(--btn-color);
  border-radius: 6px 6px 0 0;
}

@media (max-width: 512px) {
  h1 {
    margin-top: 15px;
  }
}
